__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
*.log
local_settings.py
db.sqlite3
venv/
env/
.venv
.git
.gitignore
README.md
.env.*
!.env.prod
!docker-compose.yml
Dockerfile
.dockerignore
node_modules/
staticfiles/
mediafiles/
*.md
tests.py
