{% load static %}
  <footer>
    <h1>Professional Sites</h1>
    <div class="social-links">
      <a href="https://public.tableau.com/app/profile/anthony.sawyer/vizzes" target="_blank">
        <img src="{% static 'hello/images/prof/Tableau-From-Salesforce-Logo-COLOR-1.png' %}" alt="Tableau Logo" class="social-logo tableau-logo">
      </a>
      <a href="https://medium.com/@ajsawyer94" target="_blank">
        <img src="{% static 'hello/images/prof/Medium-Icon-Black.png' %}" alt="Medium Logo" class="social-logo">
      </a>
      <a href="https://www.linkedin.com/in/anthonysawyer530/" target="_blank">
        <img src="{% static 'hello/images/prof/In-Blue-96-┬«@2x.png' %}" alt="LinkedIn Logo" class="social-logo">
      </a>
    </div>
  </footer>